@typeparam TItem
<div class="virtual-waterfall">
    <div class="heighter" style="@(this.Layout.HeighterStyle)">
        <div style="@(this.Layout.SpacerBeforeStyle)" class="spacer spacer-before" @ref="spacerBefore"></div>
        <div style="@(this.Layout.SpacerAfterStyle)" class="spacer spacer-after" @ref="spacerAfter"></div>
    </div>

    @if (this.Layout.RenderItems?.Count > 0)
    {
        @foreach (var item in this.Layout.RenderItems)
        {
            <div class="item" style="@(item.Style)">@ItemTemplate(item.Data)</div>
        }

    }
    else
    {
        if (this.EmptyTemplate != null)
        {
            @this.EmptyTemplate
        }
        else
        {
            <div class="no-data">
                <svg t="1708570727717" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7508" width="64" height="64"><path d="M336.5376 356.0448a87.7056 87.7056 0 0 0-78.2848 48.0256l-110.6944 161.536L140.8 578.56v242.944a87.7056 87.7056 0 0 0 87.7568 87.6032h561.7664a87.7056 87.7056 0 0 0 87.7568-87.6032v-241.8688l-6.7584-14.0288-110.6944-161.536a87.7056 87.7056 0 0 0-78.2848-48.0256z m495.4112 209.5616h-191.1296a31.5392 31.5392 0 0 0-29.696 20.48l-19.456 53.248H425.3184l-31.5392-57.6a31.6416 31.6416 0 0 0-27.6992-16.384h-179.2L289.536 419.84a52.736 52.736 0 0 1 47.0016-28.8256h345.8048a52.7872 52.7872 0 0 1 47.0016 28.8256l102.4 145.7152z m-656.0256 256v-220.9792h188.0576l31.5392 57.6a31.5904 31.5904 0 0 0 27.7504 16.4352H593.92a31.5904 31.5904 0 0 0 29.696-20.736l19.456-53.248h199.68v220.7232a52.5824 52.5824 0 0 1-52.6336 52.5824H228.5568a52.5824 52.5824 0 0 1-52.6336-52.5312z m138.24-682.4448a17.7664 17.7664 0 0 1 24.5248 5.12l59.8528 92.16A17.7152 17.7152 0 1 1 368.64 256L308.8384 163.84a17.664 17.664 0 0 1 5.12-24.4736z m195.2768-24.1664a17.7152 17.7152 0 0 1 17.92 17.7152v106.3424a17.7152 17.7152 0 1 1-35.4304 0V132.7104a17.7152 17.7152 0 0 1 17.5104-17.7152z m195.4816 24.0128a17.7152 17.7152 0 0 0-24.4736 5.12l-59.8528 92.16A17.7152 17.7152 0 0 0 650.24 256l59.8528-92.16a17.7664 17.7664 0 0 0-5.12-24.5248z" fill="#C9CDD4" p-id="7509"></path></svg>
                <div>No data</div>
            </div>
        }
    }
</div>